*{
    box-sizing: border-box;
}

html {zoom: 140%;}

body{
    margin: 0;
    padding: 0;
    background-color:#ff3e5f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    overflow:hidden;
}

.bio{
    position: absolute;
    font-family: cursive;
    color: white;
    width: 250px;
    top:10%;
    left:2%;
    border: 2px solid rgb(0, 0, 0);
    background-color:hsl(345deg 100% 47%);
    border-radius: 12px;
}

.container{
    width: 480px;
    height: 480px;
    background-color:#1c81f5;
    border-radius:50%;
    border: 6px solid rgb(0, 0, 0);
    position: relative;
    top:10%;
    overflow: hidden;
    transition: 5s;
}

.container div{
    height: 50%;
    width: 200px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100% , 0 0);
    transform: translate(-50px);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    left:135px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: bold;
    color:white;
    font-size:20px;
    font-family: cursive;
    
}

.container .one{
    background-color:#1c81f5;
    left: 40%;
}
.container .two{
    background-color:#e25151;
    transform: rotate(45deg); 
}
.container .three{
    background-color:#fca522;
    transform: rotate(90deg);
}
.container .four{
    background-color:#3aee85;
    transform: rotate(135deg);
}
.container .five{
    background-color:#f366e7;
    transform: rotate(180deg);
}
.container .six{
    background-color:#6bece1;
    transform: rotate(225deg);
}
.container .seven{
    background-color:#f5dc4d;
    transform: rotate(270deg);
}
.container .eight{
    background-color:#f88f48;
    transform: rotate(315deg);
}

#spin{
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    position: absolute;
    top:40%;
    right:10%;
    animation: zoom-in-zoom-out 2s ease-out infinite;
}

#spin.Invisible{
    display:none;
}


.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
    font-family: cursive;
}

.spin:active .front {
    transform: translateY(-2px);
}

@keyframes zoom-in-zoom-out {
    0% {
    transform: scale(1, 1);
    }
    50% {
    transform: scale(1.5, 1.5);
    }
    100% {
    transform: scale(1, 1);
    }
    }



#reset{
    display: none;
}

#reset.visible{
    display: block;
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: solid black;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    position: absolute;
    left:2%;
    bottom: 20px;
    padding: 12px 42px;
    font-size: 0.7rem;
    font-family: cursive;
    background: hsl(345deg 100% 47%);
    color: white;
} 


#arrow {
    position: absolute;
    right:center;
    cursor: pointer;
    transform-origin: top center;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 30px 0 30px;
    border-color: black transparent transparent transparent;
    z-index: 9;
    top:2%;
}

#link{
    display: none;
}



#link.visible { 
    position: absolute;
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: cursive;
    font-size: 30px;
    font-weight: 600;
    font-family: cursive;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    left:2%;
    bottom: 80px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

#link:disabled {
    pointer-events: none;
}

#link:hover {
    color: #fff;
    background-color: hsl(345deg 100% 47%);
    box-shadow: hsl(345deg 100% 47%);
    transform: translateY(-2px);
}

#link:active {
    box-shadow: none;
    transform: translateY(0);
}

@media screen and (max-width: 500px) {
    .container{
        width: 300px;
        height: 300px;
    }
    .container div{
        height: 50%;
        width: 150px;
        font-size:13px;
        left:23%; 
        font-family: cursive;
    }
    .container .one{
        left: 43%;
    }
    .bio{
        top:0%;
        font-family: cursive;
    }
    #arrow{
        top:25%;
    }
    #spin{
        top:90%;
        right:30%;
    }
    .front{
        font-size: 1rem;
    }
    #link.visible{
        font-size: 15px;
    }



}
    
