*{
    box-sizing: border-box;
}

html {zoom: 140%;}

body{
    margin: 0;
    padding: 0;
    background-color:#ff3e5f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    overflow:hidden;
}

.container{
    width: 480px;
    height: 480px;
    background-color:blue;
    border-radius:50%;
    border: 6px solid rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    transition: 5s;
}

.container div{
    height: 50%;
    width: 200px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100% , 0 0);
    transform: translate(-50px);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    left:135px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: bold;
    color:white;
    font-size:20px;
    
}

.container .one{
    background-color:blue;
    left: 40%;
}
.container .two{
    background-color:red;
    transform: rotate(45deg); 
}
.container .three{
    background-color:#00ff62;
    transform: rotate(90deg);
}
.container .four{
    background-color:#0084ff;
    transform: rotate(135deg);
}
.container .five{
    background-color:#ff00ea;
    transform: rotate(180deg);
}
.container .six{
    background-color:#00ffea;
    transform: rotate(225deg);
}
.container .seven{
    background-color:#73ff00;
    transform: rotate(270deg);
}
.container .eight{
    background-color:#ff6600;
    transform: rotate(315deg);
}

#spin{
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    position: absolute;
    right:45px;
    animation: zoom-in-zoom-out 2s ease-out infinite;
}


.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
}

.spin:active .front {
    transform: translateY(-2px);
}

@keyframes zoom-in-zoom-out {
    0% {
    transform: scale(1, 1);
    }
    50% {
    transform: scale(1.5, 1.5);
    }
    100% {
    transform: scale(1, 1);
    }
    }


#spin.Invisible{
    display:none;
}

#reset{
    display: none;
}
#reset.visible{
    display: block;
    font-size:100px;
} 


#arrow {
    position: absolute;
    top: 120px;
    cursor: pointer;
    transform-origin: top center;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 30px 0 30px;
    border-color: black transparent transparent transparent;
    z-index: 9;
}

#link{
    display: none;
}

#link.visible{
    display: block;
    font-size:100px;
    position: absolute;
    color:#73ff00;
}


